@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Title of the note</p>
    <input type="text" placeholder="Type title of your note" name="note-title">
    <input type="checkbox" name="markdown-enabled">
</div>